/* Universal */
* {
  box-sizing: border-box;
}
body {
  font-family: "Helvetica", sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: 0 auto;
}
a {
  color: seashell;
}
nav span {
  display: inline-block;
  padding: 20px 30px;
}

/* Universal Styles */

.text-content {
  width: 100%;
}




/* Main Container */

.content {
  display: flex;
  flex-direction: column;
}

/* Header */

header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  border-bottom: 1px solid seashell;
  width: 100%;
  height: 69px;
  background-color: black;
}
.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  height: 50px;
  padding-left: 10px;
}
.logo img {
  height: 50px;
}

/* Hero Section */

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 700px;
}
.hero .image-content {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  width: 1200px;
  height: 700px;
}
