/* Universal */
* {
  box-sizing: border-box;
}
body {
  font-family: "Helvetica", sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: 0;
}
a {
  color: seashell;
}
nav span {
  display: inline-block;
  padding: 20px 30px;
}

/* Universal Styles */




/* Main Container */

.content {
  display: flex;
  flex-direction: column;
}

/* Header */

header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  border-bottom: 1px solid seashell;
  width: 100%;
  height: 69px;
  background-color: black;
}
.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  height: 50px;
  padding-left: 10px;
}
.logo img {
  height: 50px;
}

/* Hero Section */

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-background {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
.main-content {
  width: 1200px;
  background-color: black;
}

/* Tea of the Month */








/* Locations */

.locations {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.location-background {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
}
.text-content {

}
