/* Universal */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Helvetica", sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
    text-align: center;
}
a {
  color: seashell;
}
h2,
h3,
h4 {
  margin: 0;
  padding: 10px;
}
.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
p {
  padding: 10px;
}
/* Header */

header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  border-bottom: 1px solid seashell;
  width: 100%;
  height: 69px;
  background-color: black;
}
.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  height: 50px;
  padding-left: 10px;
}
.logo img {
  height: 50px;
}
nav span {
  display: inline-block;
  padding: 20px 30px;
}

/* Main Container */

.main {
  opacity: 0.9;
  padding-top: 69px;
  margin: auto;
  width: 1200px;
}


/* Mission Section */

#mission {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  height: 700px;
  padding-top: 70px;
}
#mission .content {
  width: 100%;
  background-color: black;
  margin: auto;
}

/* Store Section */

#store {
  width: 1000px;
  margin: auto;
  height: 700px;
  padding-top: 70px;
}
.item {
  padding: 5px;
}
.item img {
  margin: 10px;
  height: 200px;
  display: block;
}
.item span {
  font-weight: bold;
  padding: 10px;
}

/* Locations */

#locations {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  height: 500px;
  padding-top: 50px;
}
.locations {
  justify-content: space-around;
}
.place {
  background-color: black;
  margin-top: 15px;
  width: 300px;
}

/* Footer */

.copyright {
  text-align: left;
  padding-left: 20px;
}
